* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #60aacc;
}

.board {
  position: absolute;
  transform: translate(-15%, 0);
  top: 5%;
  right: 10%;
  height: 90vh;
  width: 90vh;
  background: url("../img/fondo.jpg");
  background-size: contain;
  z-index: -1;
}

.container {
  position: absolute;
  transform: translate(-15%, 0);
  top: 5%;
  right: 10%;
  width: 90vh;
  height: 90vh;
  z-index: 1;
}

.dice {
  position: absolute;
  right: 25%;
  bottom: 10%;
}

.dice img {
  width: 70%;
  height: auto;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  padding: 1em 2em;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  letter-spacing: 0.05rem;
}

#roll-button {
  position: absolute;
  top: 10%;
  left: 3%;
}
.turno{
  position: absolute;
  left: 28%;
  top: 13%;
  font-size: 150%;
  background-color: #008f39;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.form-input {
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  top: 25%;
  left: 25%;
  border: none;
  width: 50%;
  display: block;
}

#start-btn {
  position: absolute;
  top: 40%;
  left: 43%;
  font-size: 1rem;
}

#players-box {
  position: absolute;
  top: 25%;
  left: 3%;
  color: azure;
  font-size: 1.6rem;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
}

#current-player {
  position: absolute;
  bottom: 50%;
  left: 3%;
  color: azure;
  font-size: 1.4rem;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
}

#restart-btn {
  position: absolute;
  top: 5%;
  left: 2%;
}

#players-table img {
  height: 40px;
  width: 30px;
}

#players-table td {
  padding-right: 20px;
}